#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Idea
#################
**/*.iml
.idea/

#################
## Maven
#################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#################
## Logger Files
#################
/flight-data-recorder-impl/flight-data-recorder-impl-dao-hibernate/log/
/flight-data-recorder-impl/flight-data-recorder-impl-cache-redis/log/
/flight-data-recorder-sdk/log/
/flight-data-recorder-impl/flight-data-recorder-impl-maintain-hibred/log/
/flight-data-recorder-node/flight-data-recorder-node-manager-web/log/
/flight-data-recorder-node/flight-data-recorder-node-manager-ws/log/
/flight-data-recorder-node/flight-data-recorder-node-validate-test/log/

#################
## Configuration Files
#################
/flight-data-recorder-impl/flight-data-recorder-impl-dao-hibernate/conf/
/flight-data-recorder-impl/flight-data-recorder-impl-cache-redis/conf/
/flight-data-recorder-sdk/conf/
/flight-data-recorder-impl/flight-data-recorder-impl-maintain-hibred/conf/
/flight-data-recorder-node/flight-data-recorder-node-manager-web/conf/
/flight-data-recorder-node/flight-data-recorder-node-manager-ws/conf/
/flight-data-recorder-node/flight-data-recorder-node-validate-test/conf/
